<div class="container">
	<div class="d-flex align-items-center min-vh-100">
		<div class="container">
			<div class="row">
				<div class="d-flex justify-content-center flex-grow-1">
					<div class="col-lg-6 col-sm-12">
						<div class="jumbotron p-5 flex-fill col text-center">
							<h1>Welcome</h1>
							<p>Login to your account below</p>
							<a href="/" class="btn btn-info">Login</a>
							<a href="/" class="btn btn-danger">Register</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
