<div class="row">
	<div class="col-12">
		<div class="d-flex align-items-center mt-5">
			<div class="d-flex justify-content-center flex-grow-1 text-center">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Welcome</h5>
            <% if current_user.present? %>
              <p class="card-text">You are currently logged in</p>
              <%= link_to "Your CSVs", user_csvs_path, class: "btn btn-dark btn-register" %>
              <%= link_to "Logout", logout_path, method: :delete, class: "btn btn-danger btn-login" %>

            <% else %>
              <p class="card-text">Login to your account or register</p>
              <%= link_to "Login", login_path, class: "btn btn-info btn-login mr-2" %>
              <%= link_to "Register", register_path, class: "btn btn-warning btn-register" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
