<div class="row">
  <div class="col-12">
    <div class="d-flex align-items-center vh-100">
      <div class="d-flex justify-content-center flex-grow-1">
        <div class="col-lg-6 col-sm-12">
          <div class="card">
            <div class="card-header">Upload CSV</div>
            <div class="card-body">
              <p class="card-text">Upload a CSV using the form below</p>

              <%= render "user_csvs/partials/form" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
