<div class="row">
  <div class="col">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb mt-3">
        <li class="breadcrumb-item"><a href="<%= root_path %>">Home</a></li>
        <li class="breadcrumb-item"><a href="<%= user_csvs_path %>">CSVs</a></li>
        <li class="breadcrumb-item active" aria-current="page">Add CSV</li>
      </ol>
    </nav>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="d-flex align-items-center mt-5">
      <div class="d-flex justify-content-center flex-grow-1">
        <%= render "user_csvs/partials/form_card" %>
      </div>
    </div>
  </div>
</div>
