<div class="card">
  <div class="card-header">Upload CSV</div>
  <div class="card-body">
    <p class="card-text">
      Upload a CSV using the form below.
      <br>Please note, that an ID column must be present and unique for all rows.
    </p>

    <%= render "user_csvs/partials/form" %>
  </div>
</div>
