<div class="row">
	<div class="col-12">
		<% if current_user.csvs.any? %>
			<table class="table table-striped">
			  <thead>
			    <tr>
			      <th scope="col">#</th>
			      <th scope="col">First</th>
			      <th scope="col">Last</th>
			      <th scope="col">Handle</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr>
			      <th scope="row">1</th>
			      <td>Mark</td>
			      <td>Otto</td>
			      <td>@mdo</td>
			    </tr>
			    <tr>
			      <th scope="row">2</th>
			      <td>Jacob</td>
			      <td>Thornton</td>
			      <td>@fat</td>
			    </tr>
			    <tr>
			      <th scope="row">3</th>
			      <td>Larry</td>
			      <td>the Bird</td>
			      <td>@twitter</td>
			    </tr>
			  </tbody>
			</table>
		<% else %>
			<div class="d-flex align-items-center vh-100">
				<div class="d-flex justify-content-center flex-grow-1">
					<div class="col-lg-6 col-sm-12">
						<div class="jumbotron p-5 flex-fill col">
							<h2>No CSVs found</h2>
							<p>To add a new CSV file, use the form below</p>

						</div>
					</div>
				</div>
			</div>
		<% end %>
	</div>
</div>
